<Body:>
  <section id="studentsApp">
    <view name="header"/>
    <view name="main"/>
    <view name="footer"/>
  </section>

<header:>
  <header id="header">
    <h1>Students List</h1>
    <form id="Students" on-submit="addStudent(_page.newStudent)">
      <input id="new-student" placeholder="Enter your name here.." autofocus value="{{_page.newStudent}}">    
    </form>
  </header>

<footer:>
  <footer id="footer">
      <span id="students-count"><strong>{{_page.counters.yetToSubmit}} </strong>
        <span>Students left</span>
      </span>
    <ul id="filters">
      <li><a href="/"           class="{{if $render.url==='/'         }}selected{{/}}">All</a></li>
      <li><a href="/submitted"     class="{{if $render.url==='/submitted'   }}selected{{/}}">Submitted</a></li>
      <li><a href="/yetToSubmit"  class="{{if $render.url==='/yetToSubmit'}}selected{{/}}">Yet To Submit</a></li>
    </ul>
    <button id="clear-submitted" on-click="clearSubmitted()" class="{{if _page.counters.completed==0}}hidden{{/}}">
      Clear Data ({{_page.counters.submitted}})
    </button>
  </footer>

<main:>
  <section id="main">
      <view name="student"/>
  </section>


<student:>
  <ul id="student-list">
    {{each _page.students as #student}}
    <li class="{{if #student.submitted}}submitted{{/}} {{if _page.edit.id === #student.id}}editing{{/}}">
 <div class="view">
        <input type="checkbox" checked="{{#student.submitted}}">
       <label on-dblclick="editStudent(#student)">{{#student.fname}}</label>     
       <button class="deleteBtn" on-click="delStudent(#student.id)">Delete</button>
  </div>  
  
    </li>
    {{/each}}
  </ul>
